{% extends 'main/base.html' %}


{% block title %}
Авторизация владельца питомника
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Авторизация</h2>

    <form class="login-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
        <div class="form-errors">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <button type="submit" class="login-submit">Войти</button>
    </form>

    <a href="{% url 'home' %}">← Назад на главную</a>
</div>
{% endblock %}